$animation-time: 300ms !default;

$datepicker-label-color: $color-firm1 !default;
$datepicker-color: $color-firm1 !default;
$datepicker-content-background: $color-firm17 !default;
$datepicker-border-color: $color-firm2 !default;

$datepicker-date-hover-color: $color-firm1 !default;
$datepicker-date-hover-background: $color-firm15 !default;
$datepicker-date-active-background: $color-firm11 !default;
$datepicker-date-in-range-background: $color-firm5 !default;

$datepicker-current-month-color: $color-firm15 !default;

$datepicker-datepicker-navigation-color: $color-firm1 !default;

$datepicker-header-background: $color-firm11 !default;
