.accordion {
  border-top: 1px solid $color-firm3;
  overflow: hidden;

  &:last-child {
    border-bottom: 1px solid $color-firm3;
  }
}

.accordion__header {
  @include smooth-resize-padding(15, 0, 15, 0);
  @include font-size2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.accordion__icon {
  @include smooth-resize(10, width);
  @include smooth-resize(15, margin-right);
  stroke: currentColor;
  transform: rotate(-90deg);
  transition: transform 0.8s;
}

.accordion__icon--expanded {
  transform: rotate(90deg);
}

.accordion__children {
  @include smooth-resize-padding(10, 0, 10, 0);
  transform-origin: top center;
}
