.wait-time {
  background: rgba($color-firm6, 0.5);
}

.wait-time__spinner {
  @include smooth-resize(15, padding);
  @include smooth-resize(75, width);
  margin: auto;
}

.wait-time__icon {
  @include smooth-resize(15, height);
  transform: rotate(-90deg);
  fill: $color-firm18;
}

.wait-time__icon--negative {
  fill: $color-firm9;
  transform: rotate(90deg);
}
