{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-airbnb"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "linebreak-style": [2, "unix"],
    "eol-last": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-inferrable-types": 0,
    "@typescript-eslint/consistent-type-assertions": 0,
    "import/prefer-default-export": 0,
    "import/no-dynamic-require": 0,
    "quotes": [
      2,
      "single"
    ],
    "indent": ["error", 2, { "SwitchCase": 1}],
    "member-access": [
      0
    ],
    "import/order": 1,
    "max-lines": [
      2,
      150
    ],
    "max-len": [
      1,
      150
    ],
    "one-var": 0,
    "no-void": 0,
    "member-ordering": [
      0
    ],
    "curly": 0,
    "interface-name": [
      0
    ],
    "array-type": [
      0
    ],
    "no-param-reassign": 1,
    "no-empty-interface": 0,
    "no-empty": 1,
    "no-empty-function": 1,
    "no-bitwise": 0,
    "arrow-parens": [
      1,
      "as-needed",
      { "requireForBlockBody": false }
    ], // 8.4
    "object-literal-sort-keys": 0,
    "no-unused-expressions": 0,
    "max-classes-per-file": [
      1
    ],
    "variable-name": [
      0
    ],
    "one-line": [
      0
    ],
    "one-variable-per-declaration": [
      0
    ],
    "no-undef": 0,
    "no-useless-constructor": 0,
    "func-names": [
      2,
      "as-needed",
      { "generators": "never" }
    ],
    "lines-between-class-members": 0,
    "no-return-assign": 0,
    "class-methods-use-this": 1,
    "implicit-arrow-linebreak": 1,
    "function-paren-newline": 0,
    "no-shadow": 0,
    "prefer-rest-params": 0,
    "no-restricted-syntax": 0,
    "guard-for-in": 0,
    "no-await-in-loop": 0
  }
}
