.administration-dialog-edit {
  @include smooth-resize(600, width);
}

.administration-dialog-edit-password__field-label {
  @include smooth-resize(8, margin-top);
}

.administration-dialog-edit-password__field {
  @include smooth-resize(15, margin-bottom);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;

  &:last-child{
    margin-bottom: 0;
  }
}
