$pagination-page-link-color: $color-firm1 !default;
$pagination-page-active-color: rgba($color-firm14, 0.7) !default;
$pagination-page-active-background: $color-firm1 !default;
$pagination-page-hover-background: $color-firm1 !default;
$pagination-page-hover-color: $color-firm6 !default;

$animation-time: 0.3s !default;
