$animation-time: 300ms !default;

$dialog-background: $color-firm17 !default;
$dialog-header-color: $color-firm1 !default;
$dialog-button-color: $color-firm2 !default;
$dialog-button-hover-background: rgba($color-firm15, 0.7) !default;
$dialog-button-active-background: rgba($color-firm15, 0.5) !default;
$dialog-button-icon-color: rgba($color-firm10, 0.7) !default;
$dialog-button-hover-icon-color: $color-firm1 !default;
$dialog-button-active-icon-color: rgba($color-firm1, 0.7) !default;
$dialog-body-border-color: rgba($color-firm10, 0.7) !default;
