.camera-details__values {
  @include smooth-resize(20, margin-bottom);
  display: flex;
  justify-content: flex-start;
}

.camera-details__info-bar {
  @include smooth-resize(120, margin-right);
  display: table;
}

.camera-details__term {
  @include smooth-resize(15, margin-bottom);
  display: table-cell;
  vertical-align: top;
  white-space: nowrap;
  color: rgba($color-firm1, 0.84);
}

.camera-details__value {
  @include smooth-resize(20, padding-left);
  display: table-cell;
  vertical-align: top;
  font-weight: 600;
  color: $color-firm1;
}

.camera-details__controls {
  display: flex;
  justify-content: space-between;
}

.camera-details__controls-group {
  display: flex;
}

.camera-details__btn-splitter {
  @include smooth-resize(30, margin-right);
  border-left: 1px solid $color-firm2;
}

.camera-details__btn {
  @include smooth-resize(30, margin-right);

  &:last-child {
    margin-right: 0;
  }
}
