$animation-time: 0.3s !default;

$link-primary-color: $color-firm4 !default;
$link-primary-hover-color: rgba($color-firm4, 0.7) !default;
$link-primary-active-color: rgba($color-firm4, 0.6) !default;

$link-secondary-color: $color-firm3 !default;
$link-secondary-hover-color: rgba($color-firm3, 0.7) !default;
$link-secondary-active-color: rgba($color-firm3, 0.6) !default;
