$text-field-label-color: $color-firm1 !default;
$text-field-input-color: $color-firm1 !default;
$text-field-border-color: $color-firm2 !default;
$text-field-placeholder-color: rgba($color-firm1, 0.5) !default;
$text-field-hover-focus-border-color: $color-firm5 !default;
$text-field-active-border-color: rgba($color-firm5, 0.5) !default;
$text-field-disabled-opacity: 0.7 !default;
$text-field-helper-text-color: rgba($color-firm1, 0.5) !default;
$text-field-error-color: $color-firm13 !default;

$animation-time: 300ms !default;
