$animation-time: 300ms !default;

$checkbox-checkmark-color: $color-firm1 !default;
$checkbox-border-color: $color-firm2 !default;
$checkbox-checked-background-color: $color-firm5 !default;
$checkbox-disabled-opacity: 0.6 !default;
