.machines-dialog-form {
  @include smooth-resize(850, max-width);
  width: 100%;
}

.machines-dialog-form__fields-groups {
  @include smooth-resize(30, grid-column-gap);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.machines-dialog-form__field {
  @include smooth-resize(250, width);
}

.machines-dialog-form__fields-container {
  @include smooth-resize(25, margin-top);
  @include smooth-resize(10, grid-column-gap);
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  align-items: flex-start;

  &:first-child {
    margin-top: 0;
  }
}

.machines-dialog-form__accordion {
  @include smooth-resize(15, margin-top);
  grid-area: 2 / 1 / 3 / 3;
}

.machines-dialog-form__field-label {
  @include smooth-resize(7px, margin-top);
}

.machines-dialog-form__password-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.machines-dialog-form__password-field-label {
  @include smooth-resize-margin(0, 49, 0, 0);
  @include font-size2;
}

.machines-dialog-form__password-field-container {
  @include smooth-resize(375, max-width);
  margin-left: auto;
}
