.dialog-machine-identification {
  @include smooth-resize(550, max-width);
  width: 100%;
}

.dialog-machine-identification__section {
  display: flex;
  flex-direction: column;
}

.dialog-machine-identification__field-group {
  display: flex;
  align-items: center;
}

.dialog-machine-identification__field-label {
  @include smooth-resize(10, margin-bottom);
  display: block;
}

.dialog-machine-identification__field-container {
  width: 100%;
}

.dialog-machine-identification__field-group--qr-code {
  @include smooth-resize(40, margin-top);
  justify-content: center;
}

.dialog-machine-identification__qr-code-icon {
  @include smooth-resize(200, width);
  @include hover-focus-active-state();
  fill: $color-firm1;
}
