.machine-dialog-reassign {
  @include smooth-resize(800, width);
}

.machine-dialog-reassign__section {
  @include smooth-resize(10px, grid-gap);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}
